.homePage{
    width: 100vw;
    height: 100vh;
}

.homeScreen{
    border: 2px solid rgb(17, 0, 255);
    border-radius:10px;
    width: 95%;
    height: 100%;
    padding:10px;
}

.searchBar{
    padding-left: 100px;
}

.searchBar input{
    height: 3ch;
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 20px;
}

.searchBar button{
    height: 3ch;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-size: 2ch;
    border: 2px solid rgb(255, 60, 0);
    background: rgb(118, 193, 255);
}

.searchBar button:hover{
    background: rgb(130, 174, 255);
}

.postButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

.postButton button{
    border: 2px solid rgb(17, 0, 255);
    border-radius: 5px;
    background:rgb(17, 0, 255);
    color: white;
    padding: 5px 10px;
    margin:10px;
}

.topVideosTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.topVideosTitle button{
    background:rgb(118, 193, 255);
    border: 2px solid rgb(130, 174, 255);
    border-radius: 5px;
}

.topVideosTitle button:hover{
    background:rgb(81, 177, 255);
}

.topVideosContent{
    border: 2px solid rgb(17, 0, 255);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 100px;
    min-height: 100px;
    height: fit-content;
}

h4{
    margin: 0px;
}

.topQuizzesTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.topQuizzesTitle button{
    background:rgb(118, 193, 255);
    border: 2px solid rgb(130, 174, 255);
    border-radius: 5px;
}

.topQuizzesTitle button:hover{
    background:rgb(81, 177, 255);
}

.topQuizzesContent{
    border: 2px solid rgb(17, 0, 255);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 100px;
}

.topUniversitiesTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 30px;
}

.topUniversitiesTitle button{
    background:rgb(118, 193, 255);
    border: 2px solid rgb(130, 174, 255);
    border-radius: 5px;
}

.topUniversitiesTitle button:hover{
    background:rgb(81, 177, 255);
}

.topUniversitiesContent{
    border: 2px solid rgb(17, 0, 255);
    border-radius: 30px;
    margin: 10px;
    padding: 10px;
    width: 90%;
    height: 100px;
}


.navButtons{ 
    display: flex;
    justify-content: space-around;
}

.navButtons button{
    height: fit-content;
    width: 200px;
    border-radius: 10px;
    font-size: 2ch;
    font-style: italic;
    border: 2px solid  rgb(17, 0, 255);
    background: rgb(178, 172, 255);
}

.navButtons button:hover{
    background:rgb(133, 124, 255);
}
